.heading-2 {
  position: absolute;
  top: 796px;
  left: 205px;
  font-size: var(--font-size-17xl);
  line-height: 42px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 742px;
  height: 45px;
}
.pdescription {
  position: absolute;
  width: calc(100% - 120px);
  top: 124px;
  right: 60px;
  left: 60px;
  height: 22.8px;
  overflow: hidden;
}
.gi3,
.heading-21 {
  position: absolute;
  display: flex;
  align-items: center;
}
.heading-21 {
  top: 42px;
  left: 307px;
  font-size: 40px;
  line-height: 60px;
  font-weight: 800;
  color: var(--color-gray-200);
  width: 142px;
  height: 85px;
}
.gi3 {
  top: calc(50% - 12px);
  left: 0;
  line-height: 24px;
  font-weight: 500;
  justify-content: center;
  width: 130px;
  height: 24px;
}
.form-form-input {
  position: absolute;
  width: calc(100% - 652px);
  top: calc(50% + 207.5px);
  right: 326px;
  left: 326px;
  border-radius: 38px;
  background: linear-gradient(90deg, #ad8b73, #ceab93);
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 46px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.divplaceholder,
.h-v-tn {
  position: absolute;
  left: 0;
  height: 21px;
}
.h-v-tn {
  top: 0.1px;
  display: flex;
  align-items: center;
  width: 106px;
}
.divplaceholder {
  width: 100%;
  top: 23px;
  right: 0;
  overflow: hidden;
}
.form-form-input1 {
  position: absolute;
  width: calc(100% - 120px);
  top: 192.9px;
  right: 60px;
  left: 60px;
  background-color: var(--color-ivory);
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 56px;
}
.s-in-thoi {
  position: absolute;
  top: 0.1px;
  left: 0;
  display: flex;
  align-items: center;
  width: 115px;
  height: 21px;
}
.form-form-input2 {
  position: absolute;
  width: calc(100% - 120px);
  top: 248.9px;
  right: 60px;
  left: 60px;
  background-color: var(--color-ivory);
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 56px;
}
.ni-dung2 {
  position: absolute;
  top: 23px;
  left: 0;
  display: flex;
  align-items: center;
  width: 77px;
  height: 21px;
}
.form-form-textarea {
  position: absolute;
  width: calc(100% - 120px);
  top: 361px;
  right: 60px;
  left: 60px;
  background-color: var(--color-ivory);
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 113px;
  overflow: hidden;
}
.email3 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 48.8px;
  height: 21px;
}
.form-form-input3 {
  position: absolute;
  width: calc(100% - 120px);
  top: 305px;
  right: 60px;
  left: 60px;
  background-color: var(--color-ivory);
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 56px;
}
.vui-lng-in {
  position: absolute;
  top: 135px;
  left: 118px;
  font-size: var(--font-size-xl);
  line-height: 22.86px;
  color: var(--color-tan-100);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 580px;
  height: 50px;
}
.divform-left {
  position: absolute;
  height: calc(100% - 560px);
  width: calc(100% - 658px);
  top: 95px;
  right: 329px;
  bottom: 465px;
  left: 329px;
  border-radius: 15px;
  background-color: var(--color-ivory);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  font-size: var(--font-size-base);
  color: var(--color-lightslategray);
}
.divicon,
.png-icon {
  position: absolute;
  overflow: hidden;
}
.png-icon {
  top: calc(50% - 9px);
  left: calc(50% - 11px);
  width: 23px;
  height: 18px;
  object-fit: cover;
}
.divicon {
  top: 29px;
  left: 16px;
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-200);
  width: 57px;
  height: 54px;
}
.strong-hotline-container1 {
  width: 100%;
}
.strong-hotline-container {
  position: absolute;
  top: 30px;
  left: 104px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 234px;
  height: 51px;
}
.divicon-parent {
  top: 864px;
  left: 189px;
  background-color: var(--color-white);
  width: 474px;
  height: 88px;
}
.divicon-parent,
.divicon1,
.png-icon1 {
  position: absolute;
  overflow: hidden;
}
.png-icon1 {
  top: calc(50% - 9px);
  left: calc(50% - 11.5px);
  width: 24px;
  height: 18px;
  object-fit: cover;
}
.divicon1 {
  top: 34px;
  left: 16px;
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-200);
  width: 57px;
  height: 54px;
}
.strong-email-container {
  position: absolute;
  top: 36px;
  left: 104px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 304px;
  height: 52px;
}
.divicon-group {
  position: absolute;
  top: 952px;
  left: 189px;
  background-color: var(--color-white);
  width: 466px;
  height: 95px;
  overflow: hidden;
}
.main-section,
.phelavn-by-htmltodesign {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.main-section {
  top: 360px;
  height: 1185px;
  overflow: hidden;
}
.phelavn-by-htmltodesign {
  top: 0;
  background-color: var(--color-white);
  height: 1520px;
  color: var(--color-gray-200);
}
.link-group-20210119101820pn {
  position: absolute;
  width: calc(100% - 1024.5px);
  top: calc(50% - 1724.5px);
  right: -578.5px;
  left: 1603px;
  max-width: 100%;
  overflow: hidden;
  height: 47px;
  object-fit: contain;
}
.item-group-20210119101820pn {
  position: absolute;
  top: calc(50% - 1153.5px);
  left: 49px;
  width: 95px;
  height: 73px;
  overflow: hidden;
  object-fit: cover;
}
.logo-icon6 {
  width: 60px;
  position: relative;
  height: 38.9px;
  object-fit: cover;
  cursor: pointer;
}
.sn-phm7 {
  position: absolute;
  top: 0;
  left: 0;
}
.sn-phm6 {
  width: 81px;
  position: relative;
  height: 23px;
}
.cu-chuyn-thng4 {
  position: absolute;
  top: 0;
  left: 3.72%;
}
.cu-chuyn-thng-hiu4 {
  width: 215px;
  position: relative;
  height: 23px;
  text-align: center;
}
.ca-hng12,
.lin-h6,
.tin-tc15 {
  width: 68px;
  position: relative;
  height: 23px;
}
.ca-hng12,
.lin-h6 {
  width: 88px;
}
.lin-h6 {
  width: 60px;
}
.menu-bar3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-20xl);
}
.account-circle-icon3,
.user1233 {
  position: absolute;
  top: 0;
  left: 33px;
}
.account-circle-icon3 {
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.user123-parent1 {
  position: absolute;
  top: 7px;
  left: 18px;
  width: 112px;
  height: 24px;
}
.group-child22 {
  border-radius: 32.26px;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
}
.group-child22,
.group-parent8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 39px;
}
.arrow-drop-down-icon3 {
  position: absolute;
  top: 7px;
  left: 156px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-parent7 {
  width: 198px;
  position: relative;
  height: 39px;
}
.header-after-login3 {
  width: 1440px;
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-54xl);
  box-sizing: border-box;
  gap: var(--gap-171xl);
}
.before,
.mgl9672-scaledjpg-icon {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.mgl9672-scaledjpg-icon {
  top: calc(50% - 149px);
  max-width: 100%;
  overflow: hidden;
  height: 299px;
  object-fit: cover;
}
.before {
  height: 99.67%;
  top: 0.33%;
  bottom: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.08));
}
.main {
  width: 1440px;
  position: relative;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 300px;
  overflow: hidden;
  flex-shrink: 0;
}
.header-after-login-group {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-lg);
  font-family: var(--font-k2d);
}
.logo-icon7 {
  width: 103px;
  height: 67px;
  object-fit: cover;
  z-index: 0;
}
.a-ch-cng3,
.logo-icon7 {
  position: relative;
}
.tr-s-chnh3 {
  margin: 0;
}
.tr-s-chnh-container3 {
  width: 385px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.tr-s-chnh-289-inh-b-lnh-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
  font-size: var(--font-size-base);
}
.a-ch-cng-ty-parent1,
.a-ch3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.a-ch-cng-ty-parent1 {
  gap: var(--gap-sm);
}
.a-ch3 {
  margin: 0 !important;
  position: absolute;
  top: 38px;
  left: 576px;
  z-index: 1;
}
.keyboard-arrow-right-icon9 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.ca-hng15 {
  position: relative;
  font-weight: 500;
}
.ca-hng14,
.v-chng-ti10,
.v-chng-ti9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ca-hng14 {
  flex-direction: row;
  gap: var(--gap-5xs);
}
.v-chng-ti10,
.v-chng-ti9 {
  flex-direction: column;
}
.v-chng-ti10 {
  gap: var(--gap-2xl);
}
.v-chng-ti9 {
  margin: 0 !important;
  position: absolute;
  top: 38px;
  left: 292px;
  z-index: 2;
}
.nhn-thng-tin3,
.xin-vui-lng3 {
  position: relative;
  font-size: var(--font-size-xl);
}
.xin-vui-lng3 {
  width: 288px;
  font-size: var(--font-size-base);
  font-weight: 500;
  display: inline-block;
}
.input3 {
  width: 288px;
  border-radius: var(--br-14xl);
  background-color: var(--color-white);
  height: 53px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-3xl);
  box-sizing: border-box;
  z-index: 0;
}
.email4,
.input3,
.sent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sent3 {
  width: 85px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 203px;
  border-radius: 0 var(--br-14xl) var(--br-14xl) 0;
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 53px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  z-index: 1;
  color: var(--color-white);
}
.email4 {
  justify-content: flex-start;
  position: relative;
  color: var(--color-gray-100);
}
.cskhphelavn3,
.email-icon3 {
  position: relative;
  flex-shrink: 0;
}
.email-icon3 {
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.cskhphelavn3 {
  width: 110px;
  font-weight: 500;
  display: inline-block;
}
.cskh3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.h30-22h3 {
  width: 170px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.thng-tin3 {
  flex-direction: column;
  gap: var(--gap-lg);
}
.footer6,
.footer7,
.thng-tin-lin-lc3,
.thng-tin3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.thng-tin-lin-lc3 {
  margin: 0 !important;
  position: absolute;
  top: 38px;
  left: 1052px;
  flex-direction: column;
  z-index: 3;
  font-size: var(--font-size-sm);
}
.footer6,
.footer7 {
  flex-direction: row;
}
.footer7 {
  width: 1440px;
  background-color: var(--color-black);
  height: 430px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-19xl) var(--padding-84xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-51xl);
}
.footer6 {
  position: absolute;
  top: 0;
  left: 0;
  height: 351px;
}
.bn-quyn-ny3 {
  width: 606px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.bn-quyn-ny-thuc-v-cng-ty-wrapper1 {
  width: 1440px;
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xl) var(--padding-450xl);
}
.copyright3,
.footer-group {
  position: absolute;
  width: 1440px;
}
.copyright3 {
  bottom: 0;
  left: calc(50% - 720px);
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer-group {
  top: 1463px;
  left: 0;
  height: 430px;
}
.lin-h-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1893px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
